In [16]:
import pandas as pd

# Load the logon.csv dataset
logon_data = pd.read_csv("../../autonomous-cybersecurity/datasets/r1/logon.csv", nrows=10000)

In [17]:
logon_data.columns

Index(['id', 'date', 'user', 'pc', 'activity'], dtype='object')

In [18]:

# Pivot the activity column to create separate columns for logon and logoff
pivoted_data_logon = logon_data.pivot_table(index=['date', 'user'], columns='activity', aggfunc='size', fill_value=0)

In [20]:
pivoted_data_logon

activity                          Logoff  Logon
date                user
01/04/2010 00:10:37 DTAA/KEE0997       0      1
01/04/2010 00:52:16 DTAA/KEE0997       1      0
01/04/2010 01:17:20 DTAA/KEE0997       0      1
01/04/2010 01:28:34 DTAA/KEE0997       1      0
01/04/2010 01:57:30 DTAA/BJM0992       0      1
...                                  ...    ...
01/07/2010 18:49:33 DTAA/BRB0908       1      0
01/07/2010 18:49:51 DTAA/NJM0476       1      0
01/07/2010 18:49:53 DTAA/WBW0591       1      0
01/07/2010 18:49:55 DTAA/IJG0454       1      0
01/07/2010 18:50:02 DTAA/RZW0369       1      0

[10000 rows x 2 columns]

In [21]:

# Reset the index to get the desired column structure
pivoted_data_logon.reset_index(inplace=True)

In [23]:

# Rename the columns
pivoted_data_logon.columns = ['date', 'user', 'logon', 'logoff']
print(pivoted_data_logon)

                     date          user  logon  logoff
0     01/04/2010 00:10:37  DTAA/KEE0997      0       1
1     01/04/2010 00:52:16  DTAA/KEE0997      1       0
2     01/04/2010 01:17:20  DTAA/KEE0997      0       1
3     01/04/2010 01:28:34  DTAA/KEE0997      1       0
4     01/04/2010 01:57:30  DTAA/BJM0992      0       1
...                   ...           ...    ...     ...
9995  01/07/2010 18:49:33  DTAA/BRB0908      1       0
9996  01/07/2010 18:49:51  DTAA/NJM0476      1       0
9997  01/07/2010 18:49:53  DTAA/WBW0591      1       0
9998  01/07/2010 18:49:55  DTAA/IJG0454      1       0
9999  01/07/2010 18:50:02  DTAA/RZW0369      1       0

[10000 rows x 4 columns]

In [28]:
device_data = pd.read_csv("../../autonomous-cybersecurity/datasets/r1/device.csv", nrows=10000)
device_data.columns

Index(['id', 'date', 'user', 'pc', 'activity'], dtype='object')

In [29]:
# Pivot the activity column to create separate columns for connect and disconnect
pivoted_data_device = device_data.pivot_table(index=['date', 'user'], columns='activity', aggfunc='size', fill_value=0)

In [30]:
# Reset the index to get the desired column structure
pivoted_data_device.reset_index(inplace=True)
pivoted_data_device

activity                 date          user  Connect  Disconnect
0         01/04/2010 07:12:31  DTAA/RES0962        1           0
1         01/04/2010 07:35:40  DTAA/BJC0569        1           0
2         01/04/2010 08:00:38  DTAA/EMZ0196        1           0
3         01/04/2010 08:02:14  DTAA/ZKH0388        1           0
4         01/04/2010 08:20:17  DTAA/RES0962        0           1
...                       ...           ...      ...         ...
9995      03/16/2010 10:00:43  DTAA/RVS0852        1           0
9996      03/16/2010 10:03:48  DTAA/XQW0354        1           0
9997      03/16/2010 10:05:58  DTAA/VCG0663        1           0
9998      03/16/2010 10:10:56  DTAA/AJB0370        0           1
9999      03/16/2010 10:21:22  DTAA/CTH0856        1           0

[10000 rows x 4 columns]

In [31]:
# Rename the columns
pivoted_data_device.columns = ['date', 'user', 'connect', 'disconnect']
print(pivoted_data_device)

                     date          user  connect  disconnect
0     01/04/2010 07:12:31  DTAA/RES0962        1           0
1     01/04/2010 07:35:40  DTAA/BJC0569        1           0
2     01/04/2010 08:00:38  DTAA/EMZ0196        1           0
3     01/04/2010 08:02:14  DTAA/ZKH0388        1           0
4     01/04/2010 08:20:17  DTAA/RES0962        0           1
...                   ...           ...      ...         ...
9995  03/16/2010 10:00:43  DTAA/RVS0852        1           0
9996  03/16/2010 10:03:48  DTAA/XQW0354        1           0
9997  03/16/2010 10:05:58  DTAA/VCG0663        1           0
9998  03/16/2010 10:10:56  DTAA/AJB0370        0           1
9999  03/16/2010 10:21:22  DTAA/CTH0856        1           0

[10000 rows x 4 columns]

In [32]:
pivoted_data_device.to_csv("device_processed.csv", index=False)

In [33]:
pivoted_data_logon.to_csv("logon_processed.csv", index=False)

In [6]:
email_data = pd.read_csv("../../autonomous-cybersecurity/datasets/r1/newEmail.csv")

In [35]:
email_data.shape

(1000, 12)

In [37]:
email_data.head()

,id,date,user,pc,to,cc,bcc,from,email_activity,size,email_attachments,content
0,{I1O2-B4EB49RW-7379WSQW},01-02-2010 06:36,HDB1666,PC-6793,Louis.Bernard.Garza@dtaa.com,Emery.Ali.Holloway@dtaa.com,Hector.Donovan.Bray@dtaa.com,Hector.Donovan.Bray@dtaa.com,Send,45659,NaN,"Now Sylvia, the object of Aminta's desire, arr..."
1,{L7E7-V4UX89RR-3036ZDHU},01-02-2010 06:40,HDB1666,PC-6793,Hector.Donovan.Bray@dtaa.com,NaN,NaN,Luke.Grant.Mcmahon@dtaa.com,View,34142,NaN,"On May 14, they picked up 44 more Iroquois at ..."
2,{S8C2-Q8YX87DJ-0516SIWZ},01-02-2010 06:42,HDB1666,PC-6793,Quintessa.O.Farrell@harris.com,Hector.Donovan.Bray@dtaa.com,NaN,Hector.Donovan.Bray@dtaa.com,Send,1310925,C:\28X79b6\0PAGXTJ8.doc(1119253);C:\11b38g6\5M...,Sylvia is notable for its mythological Arcadia...
3,{A1V9-O5BL46SW-1708NAEC},01-02-2010 06:45,HDB1666,PC-6793,Hector.Donovan.Bray@dtaa.com,NaN,NaN,Travis.Ezra.Warner@dtaa.com,View,23043,NaN,Lanctot (1967) and Smith do not identify any s...
4,{N6R0-M2EI82DM-5583LSUM},01-02-2010 06:47,HDB1666,PC-6793,Hector.Donovan.Bray@dtaa.com,NaN,NaN,Kenyon.William.Delacruz@dtaa.com,View,25210,NaN,Much like all the other large groups of prison...

In [7]:
email_data["email_attachments"] = email_data["email_attachments"].fillna("no")

In [8]:
only_attachments_email =  email_data[email_data["email_attachments"] != "no"]

In [45]:
only_attachments_email["email_attachments"]

2      C:\28X79b6\0PAGXTJ8.doc(1119253);C:\11b38g6\5M...
5                        C:\11b38g6\5M1U5X8R.doc(155895)
7      C:\217BMv8\813NENCZ.doc(1494252);C:\LIM1718\PE...
18     C:\7TORMXD6.doc(1379680);C:\64dL9z2\9Y1A7RB7.d...
26                      C:\11fL3j2\AHHWZ10A.txt(1157938)
                             ...
962     C:\T7X6NKIP.doc(959413);C:\9C78YXDB.doc(1856742)
968                      C:\SDH2394\QT9J3RR7.pdf(924944)
975    C:\SDH2394\BAJ5ZHXB.pdf(1078641);C:\CGKKSBG7.z...
976      C:\P4TV1Z26.doc(366652);C:\D0CJSND8.doc(125810)
979    C:\26r3487\71ZCU7UT.doc(412709);C:\26r3487\G33...
Name: email_attachments, Length: 111, dtype: object

In [9]:
filtered_data_email = only_attachments_email[['date','user','email_attachments']]

In [10]:
filtered_data_email

,date,user,email_attachments
2,01-02-2010 06:42,HDB1666,C:\28X79b6\0PAGXTJ8.doc(1119253);C:\11b38g6\5M...
5,01-02-2010 06:47,HDB1666,C:\11b38g6\5M1U5X8R.doc(155895)
7,01-02-2010 06:52,LIM1718,C:\217BMv8\813NENCZ.doc(1494252);C:\LIM1718\PE...
18,01-02-2010 07:09,ATH0225,C:\7TORMXD6.doc(1379680);C:\64dL9z2\9Y1A7RB7.d...
26,01-02-2010 07:14,ATH0225,C:\11fL3j2\AHHWZ10A.txt(1157938)
...,...,...,...
962,01-02-2010 12:40,LQW1314,C:\T7X6NKIP.doc(959413);C:\9C78YXDB.doc(1856742)
968,01-02-2010 12:42,SDH2394,C:\SDH2394\QT9J3RR7.pdf(924944)
975,01-02-2010 12:45,SDH2394,C:\SDH2394\BAJ5ZHXB.pdf(1078641);C:\CGKKSBG7.z...
976,01-02-2010 12:45,RJH0219,C:\P4TV1Z26.doc(366652);C:\D0CJSND8.doc(125810)
979,01-02-2010 12:45,EAL3873,C:\26r3487\71ZCU7UT.doc(412709);C:\26r3487\G33...

## READING INTO DATAFRAME

In [1]:
import pandas as pd

In [3]:
pivoted_data_device = pd.read_csv("./device_processed.csv")
pivoted_data_logon = pd.read_csv("./logon_processed.csv")

## COMBINING DATASET COMMON COLUMNS

In [11]:
pivoted_data_device['date'] = pd.to_datetime(pivoted_data_device['date'], format='%m/%d/%Y %H:%M:%S')

In [12]:
pivoted_data_logon['date'] = pd.to_datetime(pivoted_data_logon['date'], format='%m/%d/%Y %H:%M:%S')

In [15]:
filtered_data_email['date'] = pd.to_datetime(filtered_data_email['date'], format='%d-%m-%Y %H:%S')

/tmp/ipykernel_4755/2269772647.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data_email['date'] = pd.to_datetime(filtered_data_email['date'], format='%d-%m-%Y %H:%S')

### MERGING METHODS

merged_data = pd.merge(filtered_data_email, other_data1, on=['user', 'date'], how='inner')

In [23]:
# Ensure no leading/trailing spaces
pivoted_data_device['user'] = pivoted_data_device['user'].str.strip()
pivoted_data_logon['user'] = pivoted_data_logon['user'].str.strip()
filtered_data_email['user'] = filtered_data_email['user'].str.strip()

/tmp/ipykernel_4755/1469635182.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data_email['user'] = filtered_data_email['user'].str.strip()

In [29]:
# ONCE EXECUTED ALL THE DATE VALUES CONVERTED INTO STR
pivoted_data_device['date'] = pivoted_data_device['date'].dt.strftime('%d-%m-%Y %H:%M')
pivoted_data_logon['date'] = pivoted_data_logon['date'].dt.strftime('%d-%m-%Y %H:%M')
filtered_data_email['date'] = filtered_data_email['date'].dt.strftime('%d-%m-%Y %H:%M')

/tmp/ipykernel_4755/633335634.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data_email['date'] = filtered_data_email['date'].dt.strftime('%d-%m-%Y %H:%M')

In [30]:
pivoted_data_device.dtypes

date          object
user          object
connect        int64
disconnect     int64
dtype: object

In [31]:
#CONVERTING THEM BACK TO DATE FORMAT '%d-%m-%Y %H:%M'
DATEFORMAT = '%d-%m-%Y %H:%M'
pivoted_data_device['date'] = pd.to_datetime(pivoted_data_device['date'], format=DATEFORMAT)
pivoted_data_logon['date'] = pd.to_datetime(pivoted_data_logon['date'], format=DATEFORMAT)
filtered_data_email['date'] = pd.to_datetime(filtered_data_email['date'], format=DATEFORMAT)

/tmp/ipykernel_4755/3008845145.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data_email['date'] = pd.to_datetime(filtered_data_email['date'], format=DATEFORMAT)

In [32]:
pivoted_data_logon.dtypes

date      datetime64[ns]
user              object
logon              int64
logoff             int64
dtype: object

In [36]:
merged_data = pd.merge( pivoted_data_logon, pivoted_data_device, on=['user', 'date'], how='inner')

In [37]:
merged_data

                 date          user  logon  logoff  connect  disconnect
0 2010-01-04 16:01:00  DTAA/RCW0436      1       0        0           1
1 2010-01-04 17:39:00  DTAA/AGW0182      1       0        0           1

In [38]:
merged_data_user = pd.merge( pivoted_data_logon, pivoted_data_device, on=['user'], how='inner')
merged_data_user

,date_x,user,logon,logoff,date_y,connect,disconnect
0,2010-01-04 03:04:00,DTAA/IRC0991,0,1,2010-01-04 08:59:00,1,0
1,2010-01-04 03:04:00,DTAA/IRC0991,0,1,2010-01-04 14:05:00,0,1
2,2010-01-04 03:04:00,DTAA/IRC0991,0,1,2010-01-07 09:54:00,1,0
3,2010-01-04 03:04:00,DTAA/IRC0991,0,1,2010-01-07 14:18:00,0,1
4,2010-01-04 03:04:00,DTAA/IRC0991,0,1,2010-01-08 10:32:00,1,0
...,...,...,...,...,...,...,...
116468,2010-01-07 18:47:00,DTAA/AKS0283,1,0,2010-03-11 04:41:00,0,1
116469,2010-01-07 18:47:00,DTAA/AJP0553,1,0,2010-02-12 04:15:00,1,0
116470,2010-01-07 18:47:00,DTAA/AJP0553,1,0,2010-02-12 04:30:00,0,1
116471,2010-01-07 18:47:00,DTAA/AJP0553,1,0,2010-03-13 02:14:00,1,0
116472,2010-01-07 18:47:00,DTAA/AJP0553,1,0,2010-03-13 03:04:00,0,1

In [39]:
merged_data_date = pd.merge( pivoted_data_logon, pivoted_data_device, on=['date'], how='inner')
merged_data_date

,date,user_x,logon,logoff,user_y,connect,disconnect
0,2010-01-04 07:12:00,DTAA/CGM0319,0,1,DTAA/RES0962,1,0
1,2010-01-04 07:12:00,DTAA/OSS0859,0,1,DTAA/RES0962,1,0
2,2010-01-04 07:35:00,DTAA/JSH0598,0,1,DTAA/BJC0569,1,0
3,2010-01-04 07:35:00,DTAA/LBD0946,0,1,DTAA/BJC0569,1,0
4,2010-01-04 07:35:00,DTAA/CGT0183,0,1,DTAA/BJC0569,1,0
...,...,...,...,...,...,...,...
1932,2010-01-07 18:48:00,DTAA/BHH0460,1,0,DTAA/HIB0604,0,1
1933,2010-01-07 18:48:00,DTAA/RDG0350,1,0,DTAA/HIB0604,0,1
1934,2010-01-07 18:48:00,DTAA/EML0060,1,0,DTAA/HIB0604,0,1
1935,2010-01-07 18:48:00,DTAA/RDH0117,1,0,DTAA/HIB0604,0,1
1936,2010-01-07 18:48:00,DTAA/SSH0085,1,0,DTAA/HIB0604,0,1

In [46]:
merged_data_all = pd.concat([pivoted_data_logon, pivoted_data_device])

TypeError: concat() got an unexpected keyword argument 'how'

In [41]:
merged_data_all.sort_values(by='date', inplace=True)

In [43]:
print(merged_data_all)

                    date          user  logon  logoff  connect  disconnect
0    2010-01-04 00:10:00  DTAA/KEE0997    0.0     1.0      NaN         NaN
1    2010-01-04 00:52:00  DTAA/KEE0997    1.0     0.0      NaN         NaN
2    2010-01-04 01:17:00  DTAA/KEE0997    0.0     1.0      NaN         NaN
3    2010-01-04 01:28:00  DTAA/KEE0997    1.0     0.0      NaN         NaN
4    2010-01-04 01:57:00  DTAA/BJM0992    0.0     1.0      NaN         NaN
...                  ...           ...    ...     ...      ...         ...
9995 2010-03-16 10:00:00  DTAA/RVS0852    NaN     NaN      1.0         0.0
9996 2010-03-16 10:03:00  DTAA/XQW0354    NaN     NaN      1.0         0.0
9997 2010-03-16 10:05:00  DTAA/VCG0663    NaN     NaN      1.0         0.0
9998 2010-03-16 10:10:00  DTAA/AJB0370    NaN     NaN      0.0         1.0
9999 2010-03-16 10:21:00  DTAA/CTH0856    NaN     NaN      1.0         0.0

[20000 rows x 6 columns]

In [44]:
merged_data_all.reset_index(drop=True, inplace=True)

In [45]:
print(merged_data_all)

                     date          user  logon  logoff  connect  disconnect
0     2010-01-04 00:10:00  DTAA/KEE0997    0.0     1.0      NaN         NaN
1     2010-01-04 00:52:00  DTAA/KEE0997    1.0     0.0      NaN         NaN
2     2010-01-04 01:17:00  DTAA/KEE0997    0.0     1.0      NaN         NaN
3     2010-01-04 01:28:00  DTAA/KEE0997    1.0     0.0      NaN         NaN
4     2010-01-04 01:57:00  DTAA/BJM0992    0.0     1.0      NaN         NaN
...                   ...           ...    ...     ...      ...         ...
19995 2010-03-16 10:00:00  DTAA/RVS0852    NaN     NaN      1.0         0.0
19996 2010-03-16 10:03:00  DTAA/XQW0354    NaN     NaN      1.0         0.0
19997 2010-03-16 10:05:00  DTAA/VCG0663    NaN     NaN      1.0         0.0
19998 2010-03-16 10:10:00  DTAA/AJB0370    NaN     NaN      0.0         1.0
19999 2010-03-16 10:21:00  DTAA/CTH0856    NaN     NaN      1.0         0.0

[20000 rows x 6 columns]

### CONVERT FLOAT TO INT
merged_df['value1'] = merged_df['value1'].fillna(0).astype(int)

In [49]:
merged_data_all['logon'] =merged_data_all['logon'].fillna(0).astype('int8')
merged_data_all['logoff'] =merged_data_all['logoff'].fillna(1).astype('int8') # default i will take as logoff
merged_data_all['connect'] =merged_data_all['connect'].fillna(0).astype('int8')
merged_data_all['disconnect'] =merged_data_all['disconnect'].fillna(1).astype('int8') # default i will take as disconnected

In [50]:
merged_data_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        20000 non-null  datetime64[ns]
 1   user        20000 non-null  object
 2   logon       20000 non-null  int8
 3   logoff      20000 non-null  int8
 4   connect     20000 non-null  int8
 5   disconnect  20000 non-null  int8
dtypes: datetime64[ns](1), int8(4), object(1)
memory usage: 390.8+ KB

In [55]:
print(merged_data_all)

                     date          user  logon  logoff  connect  disconnect
0     2010-01-04 00:10:00  DTAA/KEE0997      0       1        0           1
1     2010-01-04 00:52:00  DTAA/KEE0997      1       0        0           1
2     2010-01-04 01:17:00  DTAA/KEE0997      0       1        0           1
3     2010-01-04 01:28:00  DTAA/KEE0997      1       0        0           1
4     2010-01-04 01:57:00  DTAA/BJM0992      0       1        0           1
...                   ...           ...    ...     ...      ...         ...
19995 2010-03-16 10:00:00  DTAA/RVS0852      0       1        1           0
19996 2010-03-16 10:03:00  DTAA/XQW0354      0       1        1           0
19997 2010-03-16 10:05:00  DTAA/VCG0663      0       1        1           0
19998 2010-03-16 10:10:00  DTAA/AJB0370      0       1        0           1
19999 2010-03-16 10:21:00  DTAA/CTH0856      0       1        1           0

[20000 rows x 6 columns]

In [54]:
merged_data_all.to_csv("./merged_logon_device.csv", index=False)

## TRYING FILES AND EMAILS

In [3]:
import pandas as pd

In [4]:

files_data = pd.read_csv("../../autonomous-cybersecurity/datasets/r1/newFile.csv")

In [7]:
files_data.head().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    5 non-null      object
 1   date                  5 non-null      object
 2   user                  5 non-null      object
 3   pc                    5 non-null      object
 4   filename              5 non-null      object
 5   file_activity         5 non-null      object
 6   to_removable_media    5 non-null      bool
 7   from_removable_media  5 non-null      bool
 8   content               5 non-null      object
dtypes: bool(2), object(7)
memory usage: 422.0+ bytes

In [9]:
files_data['filename']

0              R:\60WBQE7S.doc
1              R:\0VGILDW8.pdf
2              R:\60WBQE7S.doc
3      R:\22B5gX4\H8Y96RRE.doc
4      R:\SDH2394\7XRCV2N5.pdf
                ...
995            R:\EKOKB54F.doc
996    C:\93PTV71\SZSQNMK4.doc
997    R:\58zjDC0\UCZ6F25J.doc
998            R:\EKOKB54F.doc
999            R:\MHT9VT4O.pdf
Name: filename, Length: 1000, dtype: object

In [19]:
files_data.columns

Index(['id', 'date', 'user', 'pc', 'filename', 'file_activity',
       'to_removable_media', 'from_removable_media', 'content'],
      dtype='object')

In [21]:
# files_data['filename'].str.extract(r'([^.]+$)', expand=False) == 'exe' gives out only exe files
file_ext = pd.DataFrame()

In [22]:
file_ext['file_ext'] = files_data['filename'].str.extract(r'(\.[^.]+$)', expand=False).str[1:]

In [24]:
files_data['file_ext'] = files_data['filename'].str.extract(r'(\.[^.]+$)', expand=False).str[1:]

In [26]:
files_data.head(1)

,id,date,user,pc,filename,file_activity,to_removable_media,from_removable_media,content,file_ext
0,{F3E2-X3MV05YQ-3516SZDT},01-02-2010 07:19,SDH2394,PC-5849,R:\60WBQE7S.doc,File Open,False,True,"D0-CF-11-E0-A1-B1-1A-E1 Ernesztin's brother, L...",doc

In [29]:
file_data_new = files_data[['date', 'user', 'file_ext', 'from_removable_media']].copy()

In [30]:
file_data_new

                 date     user file_ext  from_removable_media
0    01-02-2010 07:19  SDH2394      doc                  True
1    01-02-2010 07:21  SDH2394      pdf                 False
2    01-02-2010 07:22  SDH2394      doc                  True
3    01-02-2010 07:24  SDH2394      doc                 False
4    01-02-2010 07:24  SDH2394      pdf                 False
..                ...      ...      ...                   ...
995  01-03-2010 13:10  CHM1561      doc                 False
996  01-03-2010 13:11  CHM1561      doc                 False
997  01-03-2010 13:11  HMR0098      doc                  True
998  01-03-2010 13:13  CHM1561      doc                  True
999  01-03-2010 13:13  CHM1561      pdf                 False

[1000 rows x 4 columns]

In [39]:
file_data_new['is_exe'] = (file_data_new['file_ext'] == 'exe').astype('int8')
file_data_new['not_exe'] = (file_data_new['file_ext'] != 'exe').astype('int8')
file_data_new['from_removable_media'] = file_data_new['from_removable_media'].astype('int8')

In [47]:
file_data_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  1000 non-null   datetime64[ns]
 1   user                  1000 non-null   object
 2   from_removable_media  1000 non-null   int8
 3   is_exe                1000 non-null   int8
 4   not_exe               1000 non-null   int8
dtypes: datetime64[ns](1), int8(3), object(1)
memory usage: 18.7+ KB

In [43]:
file_data_new

                 date     user  from_removable_media  is_exe  not_exe
0    01-02-2010 07:19  SDH2394                     1       0        1
1    01-02-2010 07:21  SDH2394                     0       0        1
2    01-02-2010 07:22  SDH2394                     1       0        1
3    01-02-2010 07:24  SDH2394                     0       0        1
4    01-02-2010 07:24  SDH2394                     0       0        1
..                ...      ...                   ...     ...      ...
995  01-03-2010 13:10  CHM1561                     0       0        1
996  01-03-2010 13:11  CHM1561                     0       0        1
997  01-03-2010 13:11  HMR0098                     1       0        1
998  01-03-2010 13:13  CHM1561                     1       0        1
999  01-03-2010 13:13  CHM1561                     0       0        1

[1000 rows x 5 columns]

In [45]:
# file_data_new = file_data_new.drop('file_ext', axis=1) 
# FILEEXT COLUMN DELETED

In [46]:
DATEFORMAT = '%d-%m-%Y %H:%M'
file_data_new['date'] = pd.to_datetime(file_data_new['date'], format=DATEFORMAT)

In [48]:
file_data_new.to_csv("./file_processed.csv", index=False)

### EMAIL PROCESSING

In [49]:
email_data = pd.read_csv("../../autonomous-cybersecurity/datasets/r1/newEmail.csv")

In [59]:
email_data[email_data['from'].str.split('@').str[1] != 'dtaa.com']

,id,date,user,pc,to,cc,bcc,from,email_activity,size,email_attachments,content
6,{Q5K6-Q1NE29SP-5403DYSX},01-02-2010 06:50,HDB1666,PC-6793,Hector.Donovan.Bray@dtaa.com,NaN,NaN,Molina.Curran@northropgrumman.com,View,29505,NaN,The number of imprisoned children increased 6....
8,{Z4F1-N5SI80JP-1919TEYG},01-02-2010 06:54,LIM1718,PC-7539,Lisandra.Inez.Myers@dtaa.com,NaN,NaN,Maryam_Mosley@northropgrumman.com,View,27163,NaN,Murray explained: Fourth through sixth grades ...
11,{P4B0-D7CG41WP-7808NYYL},01-02-2010 06:59,HDB1666,PC-6793,Hector.Donovan.Bray@dtaa.com,NaN,NaN,Jamalia_Jacobson@lockheedmartin.com,View,21024,NaN,"Although the plan was abandoned, the prisoners..."
15,{X8I1-S3GO75IU-4815SRQE},01-02-2010 07:03,LIM1718,PC-7539,Lisandra.Inez.Myers@dtaa.com,NaN,NaN,GJH8633@hp.com,View,31594,NaN,"The album's download and ""discbox"" sales were ..."
20,{P0N5-C8ID55NI-2897XEXX},01-02-2010 07:10,ATH0225,PC-7844,Andrew.Tobias.Hoover@dtaa.com,NaN,NaN,ADW6237@harris.com,View,22669,NaN,"Like many rodents, guinea pigs sometimes parti..."
...,...,...,...,...,...,...,...,...,...,...,...,...
988,{O8Z6-W2CS67NH-4314CVFW},01-02-2010 12:48,SRS0129,PC-7008,Roy_Norman@verizon.net,Samuel_Shaw@sbcglobal.net,NaN,Samuel_Shaw@sbcglobal.net,Send,23926,NaN,One of the highlights of Powderfinger's United...
991,{V4P0-F4IT75IE-8495OHRJ},01-02-2010 12:49,SRS0129,PC-7008,Samuel.Ronan.Shaw@dtaa.com,NaN,NaN,LCM337@lockheedmartin.com,View,33766,NaN,The DNOG sailed for the British colony of Sier...
992,{D4E8-T4BN82UG-3235RZXE},01-02-2010 12:49,GAH0525,PC-7394,Glenna.Althea.Hood@dtaa.com,NaN,NaN,Scarlett_Mccullough@lockheedmartin.com,View,21634,NaN,"Until either of the particles is observed, the..."
993,{T2P7-H9HS75RF-9539LKYU},01-02-2010 12:50,SRS0129,PC-7008,Kirestin_Fleming@yahoo.com,Samuel_Shaw@sbcglobal.net,NaN,Samuel_Shaw@sbcglobal.net,Send,28142,NaN,"Thus, he expressed confusion at its being cons..."
994,{E6A8-B2UR24GD-4104KLTX},01-02-2010 12:50,SRS0129,PC-7008,Samuel.Ronan.Shaw@dtaa.com,NaN,NaN,Hill-Plato@lockheedmartin.com,View,31313,NaN,Damage totaled $6.2 million (2007 USD). Rainfa...

In [60]:
email_data.columns

Index(['id', 'date', 'user', 'pc', 'to', 'cc', 'bcc', 'from', 'email_activity',
       'size', 'email_attachments', 'content'],
      dtype='object')

In [64]:
 email_data = email_data.loc[:, ['date', 'user', 'from', 'to', 'email_attachments']]

In [66]:
email_data = email_data.rename(columns={'email_attachments': 'attachment'})

In [68]:
email_data

,date,user,from,to,attachment
0,01-02-2010 06:36,HDB1666,Hector.Donovan.Bray@dtaa.com,Louis.Bernard.Garza@dtaa.com,NaN
1,01-02-2010 06:40,HDB1666,Luke.Grant.Mcmahon@dtaa.com,Hector.Donovan.Bray@dtaa.com,NaN
2,01-02-2010 06:42,HDB1666,Hector.Donovan.Bray@dtaa.com,Quintessa.O.Farrell@harris.com,C:\28X79b6\0PAGXTJ8.doc(1119253);C:\11b38g6\5M...
3,01-02-2010 06:45,HDB1666,Travis.Ezra.Warner@dtaa.com,Hector.Donovan.Bray@dtaa.com,NaN
4,01-02-2010 06:47,HDB1666,Kenyon.William.Delacruz@dtaa.com,Hector.Donovan.Bray@dtaa.com,NaN
...,...,...,...,...,...
995,01-02-2010 12:51,LAN1329,Jordan.Hannah.Booker@dtaa.com,Lael.Aurora.Nash@dtaa.com,NaN
996,01-02-2010 12:51,GAH0525,Dillon.Josiah.Roy@dtaa.com,Glenna.Althea.Hood@dtaa.com,NaN
997,01-02-2010 12:51,LQW1314,Lavinia.Quincy.Weaver@dtaa.com,Astra.Brittany.Kaufman@dtaa.com,NaN
998,01-02-2010 12:51,SKE3262,Salvador.Kennan.English@dtaa.com,Quincy.Guy.Shannon@dtaa.com,NaN
999,01-02-2010 12:51,IPK2575,Isaac.Phelan.Kent@dtaa.com,Vincent.Lamar.Massey@dtaa.com,NaN

In [75]:
email_data[(email_data['from'].str.split('@').str[1] != 'dtaa.com') & (email_data['to'].str.split('@').str[1] == 'dtaa.com')]

,date,user,from,to,attachment
6,01-02-2010 06:50,HDB1666,Molina.Curran@northropgrumman.com,Hector.Donovan.Bray@dtaa.com,NaN
8,01-02-2010 06:54,LIM1718,Maryam_Mosley@northropgrumman.com,Lisandra.Inez.Myers@dtaa.com,NaN
11,01-02-2010 06:59,HDB1666,Jamalia_Jacobson@lockheedmartin.com,Hector.Donovan.Bray@dtaa.com,NaN
15,01-02-2010 07:03,LIM1718,GJH8633@hp.com,Lisandra.Inez.Myers@dtaa.com,NaN
20,01-02-2010 07:10,ATH0225,ADW6237@harris.com,Andrew.Tobias.Hoover@dtaa.com,NaN
...,...,...,...,...,...
984,01-02-2010 12:47,LQW1314,Phyllis.H.Barron@harris.com,Lavinia.Quincy.Weaver@dtaa.com,NaN
986,01-02-2010 12:48,JJS2973,DAV9@lockheedmartin.com,Jessamine.Jena.Stuart@dtaa.com,NaN
991,01-02-2010 12:49,SRS0129,LCM337@lockheedmartin.com,Samuel.Ronan.Shaw@dtaa.com,NaN
992,01-02-2010 12:49,GAH0525,Scarlett_Mccullough@lockheedmartin.com,Glenna.Althea.Hood@dtaa.com,NaN
994,01-02-2010 12:50,SRS0129,Hill-Plato@lockheedmartin.com,Samuel.Ronan.Shaw@dtaa.com,NaN

In [79]:
email_data['to_outside'] = (email_data['from'].str.split('@').str[1] == 'dtaa.com') & (email_data['to'].str.split('@').str[1] != 'dtaa.com')

In [80]:
email_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1000 non-null   object
 1   user        1000 non-null   object
 2   from        1000 non-null   object
 3   to          1000 non-null   object
 4   attachment  111 non-null    object
 5   to_inside   1000 non-null   bool
 6   to_outside  1000 non-null   bool
dtypes: bool(2), object(5)
memory usage: 41.1+ KB

In [83]:
email_data = email_data.drop(['from', 'to'], axis=1)

In [88]:
email_data['attachment'] = email_data['attachment'].fillna(0)

In [89]:
email_data['has_attachment'] = email_data['attachment'].apply(lambda x: 1 if x else 0)

In [91]:
email_data = email_data.drop(['attachment'], axis=1)

In [92]:
email_data

                 date     user  to_inside  to_outside  has_attachment
0    01-02-2010 06:36  HDB1666      False       False               0
1    01-02-2010 06:40  HDB1666      False       False               0
2    01-02-2010 06:42  HDB1666      False        True               1
3    01-02-2010 06:45  HDB1666      False       False               0
4    01-02-2010 06:47  HDB1666      False       False               0
..                ...      ...        ...         ...             ...
995  01-02-2010 12:51  LAN1329      False       False               0
996  01-02-2010 12:51  GAH0525      False       False               0
997  01-02-2010 12:51  LQW1314      False       False               0
998  01-02-2010 12:51  SKE3262      False       False               0
999  01-02-2010 12:51  IPK2575      False       False               0

[1000 rows x 5 columns]

In [103]:
email_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            1000 non-null   datetime64[ns]
 1   user            1000 non-null   object
 2   to_inside       1000 non-null   int8
 3   to_outside      1000 non-null   int8
 4   has_attachment  1000 non-null   int8
dtypes: datetime64[ns](1), int8(3), object(1)
memory usage: 18.7+ KB

In [95]:
email_data['has_attachment'] = email_data['has_attachment'].astype('int8')

In [101]:
email_data

                 date     user  to_inside  to_outside  has_attachment
0    01-02-2010 06:36  HDB1666          0           0               0
1    01-02-2010 06:40  HDB1666          0           0               0
2    01-02-2010 06:42  HDB1666          0           1               1
3    01-02-2010 06:45  HDB1666          0           0               0
4    01-02-2010 06:47  HDB1666          0           0               0
..                ...      ...        ...         ...             ...
995  01-02-2010 12:51  LAN1329          0           0               0
996  01-02-2010 12:51  GAH0525          0           0               0
997  01-02-2010 12:51  LQW1314          0           0               0
998  01-02-2010 12:51  SKE3262          0           0               0
999  01-02-2010 12:51  IPK2575          0           0               0

[1000 rows x 5 columns]

In [98]:
email_data['to_outside'] = (email_data['to_outside'] == True).astype('int8')

In [100]:
email_data['to_inside'] = (email_data['to_inside'] == True).astype('int8')

In [102]:
DATEFORMAT = '%d-%m-%Y %H:%M'
email_data['date'] = pd.to_datetime(email_data['date'], format=DATEFORMAT)

In [104]:
email_data.to_csv("./email_processed.csv", index=False)

## MERGING ALL DATASETS EMAIL, DEVICE AND LOGON, FILE

In [105]:
file_data = pd.read_csv("./file_processed.csv")

In [117]:
file_data['date'] = pd.to_datetime(file_data['date'],format='%Y-%m-%d %H:%M:%S')

In [121]:
file_data['date'] = file_data['date'].dt.strftime(DATEFORMAT)

In [125]:
file_data['date'] = pd.to_datetime(file_data['date'],format=DATEFORMAT)

In [126]:
email_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            1000 non-null   datetime64[ns]
 1   user            1000 non-null   object
 2   to_inside       1000 non-null   int8
 3   to_outside      1000 non-null   int8
 4   has_attachment  1000 non-null   int8
dtypes: datetime64[ns](1), int8(3), object(1)
memory usage: 18.7+ KB

In [127]:
file_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  1000 non-null   datetime64[ns]
 1   user                  1000 non-null   object
 2   from_removable_media  1000 non-null   int64
 3   is_exe                1000 non-null   int64
 4   not_exe               1000 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 39.2+ KB

In [128]:
files_email_merged = pd.concat([file_data, email_data])

In [129]:
files_email_merged.sort_values(by='date', inplace=True)

In [143]:
print(files_email_merged.info())

<class 'pandas.core.frame.DataFrame'>
Index: 2000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  2000 non-null   datetime64[ns]
 1   user                  2000 non-null   object
 2   from_removable_media  2000 non-null   int8
 3   is_exe                2000 non-null   int8
 4   not_exe               2000 non-null   int8
 5   to_inside             2000 non-null   int8
 6   to_outside            2000 non-null   int8
 7   has_attachment        2000 non-null   int8
dtypes: datetime64[ns](1), int8(6), object(1)
memory usage: 58.6+ KB
None

In [132]:
files_email_merged['from_removable_media'] = files_email_merged['from_removable_media'].fillna(0).astype('int8') # BY DEAFULT IAM TAKING IT AS NOT INSERTED FROM PENDRIVE OR ANYTHING

In [135]:
files_email_merged['is_exe'] = files_email_merged['is_exe'].fillna(0).astype('int8') # BY DEFAULT ITS NOT EXE

In [137]:
files_email_merged['not_exe'] = files_email_merged['not_exe'].fillna(1).astype('int8') # BY DEFAULTS ITS OTHER FILES

In [139]:
files_email_merged['to_inside'] = files_email_merged['to_inside'].fillna(0).astype('int8') # BY DEFAULT NOT COMING INSIDE

In [140]:
files_email_merged['to_outside'] = files_email_merged['to_outside'].fillna(0).astype('int8') # BY DEFAULT NOT GOING INSIDE

In [142]:
files_email_merged['has_attachment'] = files_email_merged['has_attachment'].fillna(0).astype('int8') # BY DEFAULT HAS NO ATTACHMENTS

In [144]:
files_email_merged.to_csv("./files_email_merged.csv", index=False)

In [1]:

import pandas as pd

In [2]:
logdev_data = pd.read_csv("./merged_logon_device.csv")

In [3]:
file_mail_data = pd.read_csv("./files_email_merged.csv")

In [5]:
logdev_data.head()

                  date          user  logon  logoff  connect  disconnect
0  2010-01-04 00:10:00  DTAA/KEE0997      0       1        0           1
1  2010-01-04 00:52:00  DTAA/KEE0997      1       0        0           1
2  2010-01-04 01:17:00  DTAA/KEE0997      0       1        0           1
3  2010-01-04 01:28:00  DTAA/KEE0997      1       0        0           1
4  2010-01-04 01:57:00  DTAA/BJM0992      0       1        0           1

In [6]:
logdev_data['date'] = pd.to_datetime(logdev_data['date'],format='%Y-%m-%d %H:%M:%S')

In [8]:
file_mail_data['date'] = pd.to_datetime(file_mail_data['date'], format='%Y-%m-%d %H:%M:%S')

In [9]:
merged_2dataset = pd.concat([logdev_data, file_mail_data])

In [11]:
merged_2dataset.sort_values(by='date', inplace=True)

                     date          user  logon  logoff  connect  disconnect  \
0     2010-01-04 00:10:00  DTAA/KEE0997    0.0     1.0      0.0         1.0
1     2010-01-04 00:52:00  DTAA/KEE0997    1.0     0.0      0.0         1.0
2     2010-01-04 01:17:00  DTAA/KEE0997    0.0     1.0      0.0         1.0
3     2010-01-04 01:28:00  DTAA/KEE0997    1.0     0.0      0.0         1.0
4     2010-01-04 01:57:00  DTAA/BJM0992    0.0     1.0      0.0         1.0
...                   ...           ...    ...     ...      ...         ...
19995 2010-03-16 10:00:00  DTAA/RVS0852    0.0     1.0      1.0         0.0
19996 2010-03-16 10:03:00  DTAA/XQW0354    0.0     1.0      1.0         0.0
19997 2010-03-16 10:05:00  DTAA/VCG0663    0.0     1.0      1.0         0.0
19998 2010-03-16 10:10:00  DTAA/AJB0370    0.0     1.0      0.0         1.0
19999 2010-03-16 10:21:00  DTAA/CTH0856    0.0     1.0      1.0         0.0

       from_removable_media  is_exe  not_exe  to_inside  to_outside  \
0                       NaN     NaN      NaN        NaN         NaN
1                       NaN     NaN      NaN        NaN         NaN
2                       NaN     NaN      NaN        NaN         NaN
3                       NaN     NaN      NaN        NaN         NaN
4                       NaN     NaN      NaN        NaN         NaN
...                     ...     ...      ...        ...         ...
19995                   NaN     NaN      NaN        NaN         NaN
19996                   NaN     NaN      NaN        NaN         NaN
19997                   NaN     NaN      NaN        NaN         NaN
19998                   NaN     NaN      NaN        NaN         NaN
19999                   NaN     NaN      NaN        NaN         NaN

       has_attachment
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
...               ...
19995             NaN
19996             NaN
19997             NaN
19998             NaN
19999             NaN

[22000 rows x 12 columns]